* {
  box-sizing: border-box;
}
html{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  background-color: #162644;
}

.calculator {
  width: 300px;
  max-width: 400px;
  text-align: center;
  margin:auto;
  padding: 20px;
  border-radius: 30px;
  background-color: #567dc7cc;
/* box-shadow: 0 4px 8px rgba(0,0,0,0.7) */
}
.container{
  display: grid;
grid-template-columns: repeat(3,1fr );
}
.resultBox {
  background-color: #F4F6FB;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 45px;
  font-weight: 600;
  width: 100%;
  border-radius: 10px;
  display: inline-block;
}

.btn {
  color: #fff;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #fff;
  font-size: 18px;
  font-weight: 600;
  width: auto;
  flex:  28%;
  margin: 5px;
  cursor: pointer;
  transition: transform 0.2s ease,opacity 0.2s ease;
}
.numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btn:hover {
  opacity: 0.9;
}

.btn:active {
  transform: scale(.95);
}

.numbers-btn {
  background-color: #3C64B1;
}

.plus-mins {
  background-color: #F2994A;
}
.reset{
  background-color: #961212;
  width: 40%;
}
.result {
  width: 50%;
  background-color: #27AE60;
  
}
